 /* .banner{
    width: 700px;
    height: 300px;
    border: 3px solid blue;
    margin: auto; 
    background-image: url(images/anim2.jpg);
    background-size: 100% 100%;
    animation: banner 10s infinite;
} 

/* @keyframes banner {
    0%, 30% {
        background-image: url(images/anim1.jpg);
        opacity: 1;
    }
    31%, 34% {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(images/anim2.jpg);
    }
    66%, 69% {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(images(anim3.jpg))
    }
}  */
$color: FFFFFF;
@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-botton: $bottom;
}

.jumbotron {
    background-color: $color;
    color: black;
    @include margenes(50px, 0px);
}

.btn{
    background-color: blue;
    color: white;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: white;
    @include margenes(10px, 0px)
}

.recuadro{
flex: 1 150px;
padding: 5px 10px 5px 10px;
text-align: justify
}

.tab-content{
    padding-top: 10px
}