$color: #fff000;

jumbotron {
    background-color: $color;
    color: black;
    @include margenes(50px, 0px);
}

.btn{
    background-color: blue;
    color: white;
}

.footer{
    padding: 10px 10px 0 10px;
    background-color: white;
    @include margenes(10px, 0px)
}

.recuadro{
flex: 1 150px;
padding: 5px 10px 5px 10px;
text-align: justify
}

.tab-content{
    padding-top: 10px
}